/* bree-serif-regular - latin */
@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bree-serif-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bree Serif'), local('BreeSerif-Regular'),
       url('../fonts/bree-serif-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bree-serif-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bree-serif-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/bree-serif-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bree-serif-v5-latin-regular.svg#BreeSerif') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat-Bold'),
       url('../fonts/montserrat-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v6-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
	background-color: #fff;
	overflow-x: hidden;
}
#a, #b, #c, #d {
	right: initial;
}
.navbar {
	color: #fff;
	background-color: #fff;
	opacity: 1;
}
.nav-list {
	position: relative;
	right: -285px;
}
.menu-close {
	display: none;
}
#students {
	display: none;
	transition: 0.2s ease;
}
.header {
	height: 100vh;
	background-image: url(https://source.unsplash.com/WNevBlZWCKA/1920x900);
	background-position: top;
	 background-webkit-filter: blur(5px);
  background-moz-filter: blur(5px);
  background-o-filter: blur(5px);
  background-ms-filter: blur(5px);
	background-filter: blur(5px);
}
h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 5rem;
}
h4 {
	font-family: "Montserrat", sans-serif,
}
.header h1 {
	position: relative;
	top: 40%;
	text-align: center;
	font-size: 15rem;
	font-family: "Bree Serif";
	display: none;
}
.header h1 small {
	font-size: 26%;
	color: white;
}
.page-header {
	padding: 40px 40px;
}
.header span i {
	position: absolute;
}
.menu {
	display: none;
}
ul li {
	list-style-type: decimal;
	text-align: left;
}
#what p, #how ul li, #how p, #features p{
 	font-family: "Bree Serif"
}
.card {
	margin: 30px 30px 10px;
	min-width: 30rem;
	min-height: 155px;
	line-height: 25px;
	-webkit-box-shadow: 7px 2px 22px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 2px 22px -9px rgba(0,0,0,0.75);
	box-shadow: 7px 2px 22px -9px rgba(0,0,0,0.75);
}
#how {
	
}
#features {
	
}
#benefits {
	
}
